{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": "cjs",
        "loose": true
      }
    ]
  ],
  "plugins": [
    ["add-module-exports",
    {
      "addDefaultProperty": true
    }
  ]
  ]
}
